{% extends 'base.html.twig' %}

{% block title %}RenoshopBee - Shop Product Name{% endblock %}

{% block body %}
<section class="showProduct">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Page</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Product</a></li>
                </ol>
            </nav>
            <div class="media">
                <div class="productCard">
                    <div class="row justify-content-start mb-4">
                        <div class="col-md-5 product-img wow fadeInRight" data-wow-duration="1.4s">
                            <img src="{{ article.imageArticle }}" width="100%" class="" alt="">
                        </div>
                        <div class="col-auto"></div>
                        <div class="col-md-6 mt-3 wow fadeInRight" data-wow-duration="1.4s">
                            <div class="media-body ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>{{ article.nomArticle }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="fiyat pr-2">${{ article.prix|number_format(2, '.', ',') }}</span>
                                        <span class="rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        <p>{{ article.description }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr>
                                    </div>
                                </div>

                                <form action="/panier/add/{{article.id}}">
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <select class="form-control form-control-lg mb-4">
                                                <option>Select size</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control form-control-lg mb-4">
                                                <option>Select color</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row pb-4">
                                        <div class="col-md-6">
                                            <div class="input-group input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="minus" data-field="quant[1]">
                                                        <i class="fa fa-minus" style="color: black;"></i>
                                                    </button>
                                                </span>
                                                <input type="text" name="quant[1]" class="form-control input-number"
                                                    value="1" min="1" max="10">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number"
                                                        data-type="plus" data-field="quant[1]">
                                                        <i class="fa fa-plus" style="color: black;"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group input-group">
                                                <button type="submit" class="btn pl-3 pr-3 mr-2"><i
                                                        class="fa fa-btn fa-shopping-cart"></i>Add to cart</button>
                                                <button type="button" class="btn mr-2"><i
                                                        class="fa fa-heart-o"></i></button>
                                                <button type="button" class="btn mr-2"><i
                                                        class="fa fa-retweet"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-between wow fadeInRight" data-wow-duration="1.4s"
                        style="align-items : center;">
                        <div class="col-md-5 d-flex justify-content-between">
                            <input type="button" class="btn" value="«" style="margin-right: 4%;" />
                            <img class="img-responsive p-2" src="{{ article.imageArticle }}" width="22%" />
                            <img class="img-responsive p-2" src="{{ article.imageArticle }}" width="22%" />
                            <img class="img-responsive p-2" src="{{ article.imageArticle }}" width="22%" />
                            <input type="button" class="btn" value="»" style="margin-left: 4%;" />
                        </div>
                        <div class="col-auto"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End showProduct-->

    <section class="description">
        <div class="container">
            <div class="wow fadeInRight" data-wow-duration="1.4s">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
                    <li><a data-toggle="tab" href="#reviews">Reviews (2)</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane show active">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div id="reviews" class="tab-pane fade">

                        <div class="review-body pl-3">
                            <p>1 reviews for Etiam tristique nisl</p>
                            <div class="row ">
                                <div class="col-md-1 mr-2 mb-2">
                                    <img class="img-responsive" src="/assets/img/reviewBg.png" />
                                </div>
                                <div class="col-md-10 bg-white ml-3 pt-3 pl-4">
                                    <span class="rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <span class="date pl-3">| <span class="italic pl-3">Jun 3,2017</span></span>
                                    <div class="reviews-content pt-2">
                                        <h6 class="pb-2">Jhon Green</h6>
                                        <p>This will go great with my Hoodie that I ordered a few weeks ago.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="add-review pt-5">
                                <h2>Add a review</h2>
                                <form>
                                    <div class="row pt-3">
                                        <div class="col-md-5 mb-2">
                                            <input type="text" class="form-control form-control-lg"
                                                placeholder="Your name ...">
                                        </div>
                                        <div class="col-md-5 mb-2">
                                            <input type="text" class="form-control form-control-lg"
                                                placeholder="Your e-mail ...">
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col-md-3">
                                            <p>Your Review</p>
                                        </div>
                                        <div class="col-md-9">
                                            <p>Your Rating:
                                                <span class="rating pl-2">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i> <span
                                                        class="golden pl-1 pr-1">|</span>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i> <span
                                                        class="golden pl-1 pr-1">|</span>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i> <span
                                                        class="golden pl-1 pr-1">|</span>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i> <span
                                                        class="golden pl-1 pr-1">|</span>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                rows="5"></textarea>
                                            <button type="submit" class="btn btn-small mt-3 pl-4 pr-4">SUBMIT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Description-->

    <section class="relatedProducts">
        <div class="container">
            <div class="row justify-content-center" style="align-items : center;">
                <div class="col-md-10 titleLeft mt-4">
                    <h2>Related Products</h2>
                </div>
                <div class="col-md-2 titleRight ">
                    <button type="button" class="btn ml-2"><i class="fa fa-long-arrow-left"></i></button>
                    <button type="button" class="btn ml-2"><i class="fa fa-long-arrow-right"></i></button>
                </div>
            </div>
            <div
                class="row d-flex flex-md-row justify-content-center justify-content-md-around justify-content-lg-end  justify-content-xl-around flex-xl-nowrap pt-2 pb-5">
                {% set cpt = 0 %}
                {% for relatedProduct in relatedProduct %}
                {% if cpt < 4 %}
                <div class="productCard pl-3 pr-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.2s">
                    <div class="productHover">
                        <div class="kare mb-2">
                            <a href="/panier/add/{{relatedProduct.id}}"><i class="fa fa-shopping-cart pt-2" aria-hidden="true"></i></a>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-heart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-retweet pt-2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <img src="{{relatedProduct.imageArticle}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>{{ relatedProduct.nomArticle }}</h5>
                        <span class="fiyat">${{ relatedProduct.prix|number_format(2, '.', ',') }}</span>
                        <span class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                {% endif %}
                {% set cpt = cpt +1 %}
                {% endfor %}
                <!--
                <div class="productCard pl-3 pr-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.4s">
                    <div class="productHover">
                        <div class="kare mb-2">
                            <i class="fa fa-shopping-cart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-heart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-retweet pt-2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <img src="/assets/img/productBg.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>Joust Duffle Bag</h5>
                        <span class="fiyat">$250.00</span>
                        <span class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="productCard pl-3 pr-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.6s">
                    <div class="productHover">
                        <div class="kare mb-2">
                            <i class="fa fa-shopping-cart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-heart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-retweet pt-2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <img src="/assets/img/productBg.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>Voyage Yoga Bag</h5>
                        <span class="fiyat">$250.00</span>
                        <span class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="productCard pl-3 pr-3 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay="0.8s">
                    <div class="productHover">
                        <div class="kare mb-2">
                            <i class="fa fa-shopping-cart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-heart pt-2" aria-hidden="true"></i>
                        </div>
                        <div class="kare mb-2">
                            <i class="fa fa-retweet pt-2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <img src="/assets/img/productBg.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>Treatise on the</h5>
                        <span class="fiyat">$250.00</span>
                        <span class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                -->
            </div>
        </div>
    </section>
    <!--End RelatedProducts-->
{% endblock %}
